<div class="container">

<div> <h1 style="text-align:center;">Available Jobs</h1></div>


<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group stylish-input-group">
            <input ng-model="jobSearchQuery" type="text" style="font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;" class="form-control"  placeholder="Search" >
            <span class="input-group-addon">
                <button ng-click="doSearch()" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>  
            </span>
        </div>
    </div>
</div>

<br />

<ui-gmap-google-map center='map.center' zoom='map.zoom'>

	<ui-gmap-markers models="jobs" icon="'imgPath'" coords="'coords'"></ui-gmap-markers>
	</ui-gmap-marker>

</ui-gmap-google-map>

<br />
<table id="tableStyle">
  <tr>
    <th>Job</th>
    <th>Job Description</th>
    <th>Current Location</th>
    <th>Delivery Location</th>	
    <th>Max Price</th>
    <th>Delivery Date</th>
    <th></th>
  </tr>
  <tr ng-repeat="job in jobs">
    <td>{{ job.title }}</td>
    <td>{{ job.description }}</td>
    <td>{{ job.location }}</td>
    <td>{{ job.destination }}</td>
    <td>{{ job.job_price }}</td>
    <td>13/03/2016</td>
    <td style="text-align:center;"> <a ui-sref="app.jobs.bid({id : job.id})" class="btn btn-primary">Bid Now!</a> </td>
  </tr>
</table>

</div>