<div class="container">

<h1>My Jobs</h1>
<h2>Packages</h2>

<table id="tableStyle"> 
	<tr>
		<th>Title</th>
		<th>Status</th>
		<th>Details</th>
		<th></th>
	</tr>
	<tr ng-repeat="job in myJobs">
		<td>{{ job.title }}</td>
		<td>
			{{
				parseStatus(job)
			}}
		</td>
		<td>
			<span class="label label-default">Description</span>  {{ job.description }}<br/>
			<span class="label label-default">Location</span>  {{ job.location }}<br/>
			<span class="label label-default">Destination</span>  {{ job.destination }}<br/>
			<span class="label label-default">Item price</span>  {{ job.item_price }}
		</td>
		<td><a ui-sref="app.jobs.status({id: job.id})"><span class="fa fa-info-circle"></span> View status</a></td>
	</tr>
</table>

<h2>My Bids</h2>

<table id="tableStyle"> 
	<tr>
		<th>Price</th>
		<th>Description</th>
		<th>Proposed date and time</th>
		<th></th>
	</tr>
	<tr ng-repeat="bid in myBids" class="{{ bid.rowStatus }}">
		<td>{{ bid.price }}</td>
		<td>{{ bid.description }}</td>
		<td>{{ bid.proposed_delivery_date }} {{ bid.proposed_delivery_time }}</td>
		<td><a ng-show="bid.rowStatus == 'alert-success'" ui-sref="app.jobs.status({id: bid.job_id})"><span class="fa fa-info-circle"></span> View status</a></td>
	</tr>
</table>

</div>

